.Controller {
	width: 20.5vw;
	min-width: 246px;

	display: flex;
	justify-content: center;

	.visibility_button {
		display: none;
		width: 49px;
		height: 50px;
		align-items: center;
		justify-content: center;

		background: #0c438d;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
		border-radius: 25px;
	}
	.controller_container {
		width: 100%;
		height: 100%;

		background-color: rgba(23, 30, 96, 0.98);

		.controller_main {
			display: flex;
			flex-direction: column;
			align-items: center;

			margin-top: 56px;

			.newArray {
				font-size: 14px;
				width: 114px;
				height: 29px;
			}

			.algoType_container {
				position: relative;
				margin-top: 45px;
				width: 185px;

				.algoType_button,
				.algoType_options,
				.algoType_options button {
					display: flex;
					justify-content: center;
					align-items: center;

					width: 185px;
					min-height: 29px;
					padding: 0 10px 0 19px;
				}

				.algoType_button {
					justify-content: space-between;
					p {
						font-size: 14px;
					}
				}

				.algoType_options {
					display: none;
					flex-direction: column;

					height: fit-content;
					padding: 0;
					margin-top: 5px;
					border-radius: 5px;

					box-shadow: 0 0 6px 0px #ffffff;

					.options {
						list-style-type: none;
						text-align: center;
						margin: 5px;

						li {
							display: flex;
							flex-direction: column;
							align-items: center;

							button {
								padding: 5px 0;

								font-family: Open Sans;
								font-style: italic;
								font-weight: normal;
								font-size: 14px;
								letter-spacing: 0.1em;

								color: #2e9cdb;
								filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));
								text-shadow: 0px 0px 2px #0c438d;

								&:active {
									filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0));
								}
							}
							@media (hover: hover) and (pointer: fine) {
								button:hover {
									filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.7));
								}
							}
							hr {
								width: 120px;
								height: 0.5px;
								margin: 0;

								background: #2e9cdb;
								border: none;
								box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
							}
						}
					}
				}
			}

			.slider_size,
			.slider_speed {
				margin-top: 45px;
				text-align: center;

				p {
					margin-bottom: 10px;

					font-family: Open Sans;
					font-style: italic;
					font-weight: normal;
					font-size: 14px;
					letter-spacing: 0.1em;
					line-height: 19px;

					color: #2d9cdb;
					text-shadow: 0px 0px 1px #ffffff;
				}

				input {
					height: 16px;
				}
			}
		}
	}
}

.algoType_container_interaction#options {
	display: flex;
}

@media screen and (max-width: 910px) {
	.Controller {
		position: absolute;
		right: 0;
		height: inherit;
		z-index: 2;

		#show {
			display: flex;
			z-index: 2;

			position: fixed;
			right: 10vw;
			bottom: 5vh;

			&:active {
				box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
			}
		}

		.controller_container {
			opacity: 0;
			z-index: 3;
			background-color: rgba(23, 30, 96, 0.8);
			transform: translateX(246px);

			transition: all 0.3s;
			.visibility_button {
				display: flex;
				position: absolute;
				bottom: 5vh;
			}
		}
		.controller_container_action {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
